body {
  font-family:'Montserrat';
  background-color: white;
  overflow: auto;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  text-align: left;
  overflow-x: hidden;
}

nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


li {
  display: inline-block;
  position: relative;
 
}


.dropdown ul li a {
  display: block;
}


ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  top: calc(100% + 2px);
  padding: 10px;
  left: 0;
}


ul li:hover ul.dropdown {
  display: block;
}


ul li ul.dropdown li {
  display: block;
}


.dropdown-btn {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(31, 53, 61, 1);
}


nav a,
.dropdown-btn {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


nav a img {
  vertical-align: middle;
  margin-right: 8px;
}


nav a:hover,
.dropdown-btn:hover {
  background-color: #ddd;
  color: black;
}


.login-btn {
  border-radius: 60px;
  background-color: white;
  color: #548bab;
  border: 1px solid #548bab;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 47px;
  font-family: Montserrat sans-serif;
}


.register-btn {
  border-radius: 60px;
  background-color: #548bab;
  color: white;
  border: none;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  width: 160px;
  height: 47px;
  font-family: Montserrat sans-serif;
}

.dropdown{
  background-color: white;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

 /* ***********************************************************************************  */

 /* Text Header /// Block */
.text-header-block {
  font-family: Montserrat sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  position: absolute;
  width: 802px;
  height: 65px;
  left: 76px;
  top: 159px;
  color: #000000;
}

/* Section Heading */
.section-heading {
  width: 100%;
  height: 65px; 
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 135%;
  color: #548BAB;
}

      
 /* ***********************************************************************************  */

 .form-input-1-lines-no-icon {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 264px 8px 32px;
  gap: 10px;

  position: absolute;
  width: 414px;
  height: 60px;
  left: 82px;
  top: 323px;

  /* Neutral */
  background: #FFFFFF;
  /* Neutral Darker */
  border: 1px solid #AEAEAA;
  border-radius: 16px 0px 0px 16px;
}

.keyword1{
width: 60px;
height: 12px;
font-family: Open Sans;
font-size: 11px;
font-weight: 600;
line-height: 12px;
letter-spacing: 0px;
text-align: left;
color: #548BAB;
}

.keyword2{
width: 100%;
height: 24px;
font-family: Avenir;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:#1F353D;
border: none;
}


.form-input-2-lines-no-icon {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 32px 8px;
  gap: 10px;

  position: absolute;
  width: 337px;
  height: 60px;
  left: 496px;
  top: 323px;

  /* Neutral */
  background: #FFFFFF;
  /* Neutral Darker */
  border: 1px solid #AEAEAA;
}
 
.form-input-3-lines-no-icon {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 32px 8px;
  gap: 10px;

  position: absolute;
  width: 255px;
  height: 60px;
  left: 833px;
  top: 323px;

  /* Neutral */
  background: #FFFFFF;
  /* Neutral Darker */
  border: 1px solid #AEAEAA;
  border-radius: 0px 16px 16px 0px;
}

/* **************************************************************************************** */

#yourButton {
  position: absolute;
  top: 30vh;
  right: 0;
  transform: translateY(-50%);
  background: #548BAB;
  border-radius: 50px;
  width: 254px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px; /* Adjust padding as needed */
  cursor: pointer;
  margin-top: 8vh;
  margin-right: 40vh;
}

#buttonContent {
  color: #fff; /* Text color */
  font-size: 18px; /* Adjust font size as needed */
  font-family: Montserrat sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;

}

/* **************************************************************************************** */


.buttonss {
  background-color: #ddd;
  border: none;
  color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  margin-top: 15.5%; /* Adjust this value to your preference */
}

.pill-button{
  margin-right: 10%;
  margin: 80px;
}
.buttonss:hover {
  background-color: #f1f1f1;
}

.clear {
  border: none;
  background-color: transparent;
  color: #F95157;
}


/* **************************************************************************************** */
/* show jobs */
/* Grid Container for Frame 507 */
.frame-507 {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Adjust column widths as needed */
  gap: 485px;
  width: 960px;
  height: 42px;
  align-items: center;
  margin-left: 51%;
  margin-top: -7.5vh;
}

.frame-507 p {
  grid-column: span 1; /* Adjust column span as needed */
  height: 24px;
  font-family: montserrat sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;

}


/* **************************************************************************************** */
/* save and sort button */
.savesort-button {
  width: 308px;
  height: 42px;
  gap: 8px;
  margin-top: -5.5vh;
  margin-left: 170%;
}

.savesort1 {
  width: 160px;
  height: 42px;
  padding: 10px;
  border-radius: 100px;
  gap: 10px;
  color: #548BAB; /* Set text color to #548BAB */
  border: 1px solid #548BAB;
  background-color: transparent;
  font-family: Inter sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

}

 /* Adjusted styling to remove underline */
  .savesort2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px; /* Adjusted width */
    height: 42px;
    padding: -0px;
    border-radius: 100px;
    border: 1px solid #548BAB;
    gap: 10px;
    color: #548BAB;
    background-color: transparent;
    font-family: Inter sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    margin-top: -4.5vh;
    margin-left: 17.5vh;
  }


/* **************************************************************************************** */


.job-posting {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 770px;
height:  250px;
gap: 16px;
margin-left: 100vh;
margin-top: 6vh;
border: none;
}

.bottom-bar:hover{
  background-color: #548BAB;
}
.job-posting h2 {
  margin-top: 0;
}

.job-posting p {
  margin-bottom: 10px;
}

.projectman{
font-family: Montserrat sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0px;
text-align: left;
width: 209px;
height: 36px;
color:  #000000;

}
.national{
width: 175px;
height: 24px;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color: #8F8F8F;

}
.money60{
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 151px;
  height: 24px;
  color: #8F8F8F;
}  

.unsaveemail, .unsave .email {
  width: Hug (128px);
  height: Hug (92px);
  gap: 8px;
  margin-left: 175vh;
  margin-top: -23vh;
}
.unsave {
  width: 128px;
  height: 42px;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid #548BAB;
  gap: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: Inter sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  border-color: #548BAB;
  background-color: transparent;
  color: #548BAB;
}

.unsave i.fa-heart {
  color: #F65164;
  margin-right: 5px;
}

.email {
  width: 128px;
  height: 42px;
  top: -1px;
  left: 11.5px;
  padding: 10px;
  gap: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  border: 1px solid #548BAB;
  border-radius: 100px;
  background-color: transparent;
  color: #548BAB;
  font-family: Inter sans-serif;
  margin-top: 10px; /* Add margin-top to create space between elements */
}

.email i.fa-envelope {
  color: #080E49;
}

.lorem{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color:  #8F8F8F;
margin-left: 300px;
margin-top: -10.7vh;
}

.sept24{
font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
text-align: left;
width: 177px;
height: 21px;
color: #8F8F8F;
margin-top: -16vh;
margin-left: 68vh;

}

/* bottom bar */
.bottom-bar {
  position: absolute;
  width: 850px;
  height: 40px;
  left: 0px;
  top: 198px;
  background: rgba(201, 223, 238, 0.2);
  margin-left: 102vh;
  margin-top: 68.5vh;
}

/* Managerial > Specialist */
.managerial-specialist {
  position: absolute;
  width: 160px;
  height: 18px;
  left: 24px;
  top: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #8F8F8F;
  margin-left: 101vh;
  margin-top: 89vh;
}

/* Line 10 */
.line-10 {
  position: absolute;
  width: 953px;
  height: 0px;
  left: 0px;
  top: 1px;
  border: 1px solid #FFFFFF;
}



/* **************************************************************************************** */

.job-posting1 {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 770px;
  height:  250px;
  gap: 16px;
  margin-left: 100vh;
  margin-top: 19vh;
  border: none;
}

.bottom-bar1:hover{
  background-color: #548BAB;
}
.job-posting1 h2 {
  margin-top: 0;
}

.job-posting1 p {
  margin-bottom: 10px;
}

.projectman1{
  font-family: Montserrat sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  width: 209px;
  height: 36px;
  color:  #000000;
  
  }
.national1{
  width: 175px;
  height: 24px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #8F8F8F;
  
  }
.money601{
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 151px;
  height: 24px;
  color: #8F8F8F;
}  

.unsaveemail1, .unsave1 .email1 {
  width: Hug (128px);
  height: Hug (92px);
  gap: 8px;
  margin-left: 175vh;
  margin-top: -23vh;
}

.unsave1 {
  width: 128px;
  height: 42px;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid #548BAB;
  gap: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: Inter sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  border-color: #548BAB;
  background-color: transparent;
  color: #548BAB;
}

.unsave1 i.fa-heart {
  color: #F65164;
  margin-right: 5px;
}

.email1 {
  width: 128px;
  height: 42px;
  top: -1px;
  left: 11.5px;
  padding: 10px;
  gap: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  border: 1px solid #548BAB;
  border-radius: 100px;
  background-color: transparent;
  color: #548BAB;
  font-family: Inter sans-serif;
  margin-top: 10px; /* Add margin-top to create space between elements */
}

.email1 i.fa-envelope {
  color: #080E49;
}


.lorem1{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color:  #8F8F8F;
margin-left: 300px;
margin-top: -10.7vh;
}

.sept241{
font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
text-align: left;
width: 177px;
height: 21px;
color: #8F8F8F;
margin-top: -16vh;
margin-left: 68vh;  

}

/* bottom bar */
.bottom-bar1 {
  position: absolute;
  width: 850px;
  height: 40px;
  left: 0px;
  top: 198px;
  background: rgba(201, 223, 238, 0.2);
  margin-left: 102vh;
  margin-top: 107.5vh;
}

/* Managerial > Specialist */
.managerial-specialist1 {
  position: absolute;
  width: 160px;
  height: 18px;
  left: 24px;
  top: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #8F8F8F;
  margin-left: 101vh;
  margin-top: 128vh;
}

/* Line 10 */
.line-101 {
  position: absolute;
  width: 953px;
  height: 0px;
  left: 0px;
  top: 1px;
  border: 1px solid #FFFFFF;
}

/* **************************************************************************************** */

.job-posting2 {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 770px;
  height:  250px;
  gap: 16px;
  margin-left: 100vh;
  margin-top: 19vh;
  border: none;
}

.bottom-bar2:hover{
  background-color: #548BAB;
}
.job-posting2 h2 {
  margin-top: 0;
}

.job-posting2 p {
  margin-bottom: 10px;
}

.projectman2{
  font-family: Montserrat sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  width: 209px;
  height: 36px;
  color:  #000000;
  
  }
.national2{
  width: 175px;
  height: 24px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #8F8F8F;
  
  }
.money602{
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 151px;
  height: 24px;
  color: #8F8F8F;
}  

.unsaveemail2, .unsave2 .email2 {
  width: Hug (128px);
  height: Hug (92px);
  gap: 8px;
  margin-left: 175vh;
  margin-top: -23vh;
}

.unsave2 {
  width: 128px;
  height: 42px;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid #548BAB;
  gap: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: Inter sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  border-color: #548BAB;
  background-color: transparent;
  color: #548BAB;
}

.unsave2 i.fa-heart {
  color: #F65164;
  margin-right: 5px;
}

.email2 {
  width: 128px;
  height: 42px;
  top: -1px;
  left: 11.5px;
  padding: 10px;
  gap: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  border: 1px solid #548BAB;
  border-radius: 100px;
  background-color: transparent;
  color: #548BAB;
  font-family: Inter sans-serif;
  margin-top: 10px; /* Add margin-top to create space between elements */
}

.email2 i.fa-envelope {
  color: #080E49;
}


.lorem2{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color:  #8F8F8F;
margin-left: 300px;
margin-top: -10.7vh;
}

.sept242{
font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
text-align: left;
width: 177px;
height: 21px;
color: #8F8F8F;
margin-top: -16vh;
margin-left: 68vh;

}

/* bottom bar */
.bottom-bar2 {
  position: absolute;
  width: 850px;
  height: 40px;
  left: 0px;
  top: 198px;
  background: rgba(201, 223, 238, 0.2);
  margin-left: 102vh;
  margin-top: 145.5vh;
}

/* Managerial > Specialist */
.managerial-specialist2 {
  position: absolute;
  width: 160px;
  height: 18px;
  left: 24px;
  top: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #8F8F8F;
  margin-left: 101vh;
  margin-top: 166vh;
}

/* Line 10 */
.line-102 {
  position: absolute;
  width: 953px;
  height: 0px;
  left: 0px;
  top: 1px;
  border: 1px solid #FFFFFF;
}


/* **************************************************************************************** */


.job-posting3 {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 770px;
  height:  250px;
  gap: 16px;
  margin-left: 100vh;
  margin-top: 19vh;
  border: none;
}

.bottom-bar3:hover{
  background-color: #548BAB;
}
.job-posting3 h2 {
  margin-top: 0;
}

.job-posting3 p {
  margin-bottom: 10px;
}

.projectman3{
  font-family: Montserrat sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  width: 209px;
  height: 36px;
  color:  #000000;
  
  }
.national3{
  width: 175px;
  height: 24px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #8F8F8F;
  
  }
.money603{
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  width: 151px;
  height: 24px;
  color: #8F8F8F;
}  

.unsaveemail3, .unsave3 .email3 {
  width: Hug (128px);
  height: Hug (92px);
  gap: 8px;
  margin-left: 175vh;
  margin-top: -23vh;
}

.unsave3 {
  width: 128px;
  height: 42px;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid #548BAB;
  gap: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: Inter sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  border-color: #548BAB;
  background-color: transparent;
  color: #548BAB;
}

.unsave3 i.fa-heart {
  color: #F65164;
  margin-right: 5px;
}

.email3 {
  width: 128px;
  height: 42px;
  top: -1px;
  left: 11.5px;
  padding: 10px;
  gap: 10px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  border: 1px solid #548BAB;
  border-radius: 100px;
  background-color: transparent;
  color: #548BAB;
  font-family: Inter sans-serif;
  margin-top: 10px; /* Add margin-top to create space between elements */
}

.email3 i.fa-envelope {
  color: #080E49;
}

.lorem3{
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0px;
text-align: left;
color:  #8F8F8F;
margin-left: 300px;
margin-top: -10.7vh;
}

.sept243{
font-family: Inter;
font-size: 14px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0px;
text-align: left;
width: 177px;
height: 21px;
color: #8F8F8F;
margin-top: -16vh;
margin-left: 68vh;

}

/* bottom bar */
.bottom-bar3 {
  position: absolute;
  width: 850px;
  height: 40px;
  left: 0px;
  top: 198px;
  background: rgba(201, 223, 238, 0.2);
  margin-left: 102vh;
  margin-top: 183.5vh;
}

/* Managerial > Specialist */
.managerial-specialist3 {
  position: absolute;
  width: 160px;
  height: 18px;
  left: 24px;
  top: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #8F8F8F;
  margin-left: 101vh;
  margin-top: 204vh;
}

/* Line 10 */
.line-103 {
  position: absolute;
  width: 953px;
  height: 0px;
  left: 0px;
  top: 1px;
  border: 1px solid #FFFFFF;
}


/* **************************************************************************************** */

  /* Paginator Container */
.paginator-container1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 352px;
  height: 32px;
  margin-left: 102vh;
  margin-top: 15vh;
}

/* Paginator Frame */
.paginator-frame {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  height: 32px;
}

/* Primary Background */
.primary-background1 {
  background: #548BAB;
  border: 1px solid #548BAB;
}

/* Background Color */
.background-color1 {
  border: 1px solid #548BAB;
}

/* Paginator Icon */
.paginator-icon {
  font-family: 'Font Awesome 6 Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

/* Specialist Text */
.specialist-text1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000; /* Adjust color as needed */
}

/* Primary Color */
.primary-color1 {
  color: #000000; /* Adjust color as needed */
}


/* **************************************************************************************** */

  /* Salary filter */
 .salary-filter {
  position: absolute;
  width: 121px;
  height: 30px;
  left: 6.5%;
  top: 57%;
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #548BAB;
}

/* **************************************************************************************** */

.form-input-4-lines-no-icon {
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 32px 8px;
  gap: 10px;

  width: 255px;
  height: 40px;
  left: 833px;
  top: 323px;
  margin-top: -157vh;
  margin-left: 4%;  


}

.downbutton{
  width: 200px; /* Set your desired width */
  padding: 10px; /* Add padding to make it look like a button */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  margin-top: -39vh;
  margin-left: 6%;
}
  
/* ***********************************************************************************  */

.input-container1{
  width: 90px;
  height: 40px;
  display: grid; /* Change to grid */
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 32px 8px;
  margin-left: 9.5vh;
  border-radius: 8px;
  margin-top: -1vh;
}
.input-container2 {
  width: 90px;
  height: 40px;
  display: grid; /* Change to grid */
  grid-template-columns: 1fr;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 32px 8px;
  margin-left: 4%;
  border-radius: 8px;
  margin-left: 22.5vh;
  margin-top: -8vh;
}

.input-container1 input{
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-container2 input {
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/* Additional styling for the input values */
#firstInput,
#secondInput {
  width: calc(100% - 16px);
  height: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* You can add more styling as needed */


 /* ***********************************************************************************  */
 #GoButton {
  width: 200px;
  height: 40px;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #548BAB;
  gap: 10px;
  cursor: pointer;
  margin-top: 1.5%;
  margin-left: 5.8%;
}

#GoButtonn {
  font-size: 16px;
  color: #FFFFFF;
  font-family: Montserrat sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;

}


/* ************************************************************************************* */

 /* Salary filter */
 .Classifications-filter {
  position: absolute;
  width: 121px;
  height: 30px;
  left: 6.5%;
  top: 90%;
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150px;
  color: #548BAB;
  margin-top: -1.2vh;
}

/* ************************************************************************************* */

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 245px;
  height: 104px;
  margin-top: 18vh;
  margin-left: 6.5%;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  height: 24px;
  cursor: pointer;
}


.checkbox-box {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  color: #FFFFFF;
  
}


.checked {
  background: #548BAB;
}


.checkbox-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}


.hidden {
  display: none;
}

/****************************************************************************************/

 /* Salary filter */
 .Title-filter1 {
  position: absolute;
  width: 121px;
  height: 30px;
  left: 6.5%;
  top: 120vh;
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #548BAB;

}

/* **************************************************************************************** */

.checkbox-group1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 245px;
  height: 104px;
  margin-top: 15vh;
  margin-left: 6.5%;
}

.checkbox1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  height: 24px;
  cursor: pointer;
  color: #FFFFFF;
}

.checkbox-box1 {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid #AEAEAA; /* Add border style to make the box visible */
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px; /* Adjust font size as needed */
}

.checked1 {
  background: #548BAB;
}

.checkbox-label1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}




/****************************************************************************************/



.footer {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  margin-top: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 90vh;
}


.footerLogo {
  width: 219.23px;
  height: 81.49px;
  margin-left: 50px;
  margin-top: 10px; 
}


.glee{
  margin-left: 50px;
  width: 176px;
  height: 48px;
  top: 275px;
  left: 112px;
  color:#548BAB;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: baseline;
}


.footer-column {
  flex: 1;
  margin: 0 10px;
}


.footer-column a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}


.footer-column a:hover {
  color: blue;
}


.footer-line {
  border-bottom: 3px solid #F5F5F5;
}


.social-icons {
  display: flex;
  align-items: center;
  margin-right: 4%;
  margin-top: 10px;
  justify-content: flex-end; 
}


.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}


.centered-text{
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 20px;
  margin-left: 4%;
}


.centered-text a {
  color: black; 
  text-decoration: none; 
  margin: 1%;
}


.centered-text a:hover {
  color: gray; 
}


.bott {
  display: flex;
  justify-content: space-between;
}


.bott1 {
  margin-right: auto;
  width: auto;
  height: 50px;
  margin-left: 50px;
}


.bott2 {
  margin-left: auto;
  margin-right: 50px ;
}


.mid {
  margin: 0 auto;
}


.bott img {
  margin-top: 20px;
}



/* **************************************** */