body {
  font-family:'Montserrat';
  background-color: white;
  overflow: auto;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  text-align: left;
  overflow-x: hidden;
}

nav {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


li {
  display: inline-block;
  position: relative;
 
}


.dropdown ul li a {
  display: block;
}


ul li ul.dropdown {
  position: absolute;
  z-index: 999;
  display: none;
  top: calc(100% + 2px);
  padding: 10px;
  left: 0;
}


ul li:hover ul.dropdown {
  display: block;
}


ul li ul.dropdown li {
  display: block;
}


.dropdown-btn {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(31, 53, 61, 1);
}


nav a,
.dropdown-btn {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


nav a img {
  vertical-align: middle;
  margin-right: 8px;
}


nav a:hover,
.dropdown-btn:hover {
  background-color: #ddd;
  color: black;
}


.login-btn {
  border-radius: 60px;
  background-color: white;
  color: #548bab;
  border: 1px solid #548bab;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  height: 47px;
}


.register-btn {
  border-radius: 60px;
  background-color: #548bab;
  color: white;
  border: none;
  padding: 14px 20px;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  width: 160px;
  height: 47px;
}

.dropdown{
  background-color: white;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

 /* ***********************************************************************************  */

 /* Text Header /// Block */
.text-header-block {
  font-family: Montserrat sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
  position: absolute;
  width: 802px;
  height: 65px;
  left: 76px;
  top: 159px;
  color: #000000;
}

/* Section Heading */
.section-heading {
  width: 100%;
  height: 65px; 
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 135%;
  color: #548BAB;
}

      
 /* ***********************************************************************************  */

 .form-input-1-lines-no-icon {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 264px 8px 32px;
  gap: 10px;

  position: absolute;
  width: 414px;
  height: 60px;
  left: 82px;
  top: 323px;

  /* Neutral */
  background: #FFFFFF;
  /* Neutral Darker */
  border: 1px solid #AEAEAA;
  border-radius: 16px 0px 0px 16px;
}

.keyword1{
width: 60px;
height: 12px;
font-family: Open Sans;
font-size: 11px;
font-weight: 600;
line-height: 12px;
letter-spacing: 0px;
text-align: left;
color: #548BAB;
}

.keyword2{
width: 100%;
height: 24px;
font-family: Avenir;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color:#1F353D;
border: none;
}


.form-input-2-lines-no-icon {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 32px 8px;
  gap: 10px;

  position: absolute;
  width: 337px;
  height: 60px;
  left: 496px;
  top: 323px;

  /* Neutral */
  background: #FFFFFF;
  /* Neutral Darker */
  border: 1px solid #AEAEAA;
}
 
.form-input-3-lines-no-icon {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 32px 8px;
  gap: 10px;

  position: absolute;
  width: 255px;
  height: 60px;
  left: 833px;
  top: 323px;

  /* Neutral */
  background: #FFFFFF;
  /* Neutral Darker */
  border: 1px solid #AEAEAA;
  border-radius: 0px 16px 16px 0px;
}

/* **************************************************************************************** */

#yourButton {
  position: absolute;
  top: 30%;
  right: 0;
  transform: translateY(-50%);
  background: #548BAB;
  border-radius: 50px;
  width: 254px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px; /* Adjust padding as needed */
  cursor: pointer;
  margin-top: 4%;
  margin-right: 20vh;
}

#buttonContent {
  color: #fff; /* Text color */
  font-size: 18px; /* Adjust font size as needed */
  font-family: Montserrat sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;

}

/* **************************************************************************************** */


.buttonss {
  background-color: #ddd;
  border: none;
  color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  margin-top: 15.5%; /* Adjust this value to your preference */
}

.pill-button{
  margin-right: 10%;
  margin: 80px;
}
.buttonss:hover {
  background-color: #f1f1f1;
}

.clear {
  border: none;
  background-color: transparent;
  color: #F95157;
}

/* **************************************************************************************** */
.job-posting {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 953px;
height:  250px;
gap: 16px;
margin-left: 45%;
margin-top: 9vh;

}

.job-posting h2 {
  margin-top: 0;
}

.job-posting p {
  margin-bottom: 10px;
}

.job-posting .buttons {
  display: flex;
  justify-content: flex-end;
}

.job-posting button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}

.job-posting .unsave {
  background-color: #ddd;
  color: #333;
}




/* **************************************************************************************** */
  /* Salary filter */
 .salary-filter {
  position: absolute;
  width: 121px;
  height: 30px;
  left: 6.5%;
  top: 57%;
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #548BAB;
}

/* **************************************************************************************** */
.form-input-4-lines-no-icon {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 32px 8px;
  gap: 10px;

  width: 255px;
  height: 40px;
  left: 833px;
  top: 323px;
  margin-top: 0%;
  margin-left: 5%;

  /* Neutral */
  background: #FFFFFF;
  /* Neutral Darker */
  border: 1px solid #AEAEAA;
  border-radius: 10px; /* Half of the height to make it a complete circle */
}

.keyword3{
  width: 60px;
  height: 12px;
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
  color: #548BAB;
  }
  
  .keyword4{
  width: 100%;
  height: 24px;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color:#1F353D;
  border: none;
  }
  
/* ***********************************************************************************  */
 /* Example styling for the container */
 .input-container {
  position: relative;
  display: inline-block;
  margin-left: 5%;
  margin-top: 1%;
}

/* Example styling for the dollar sign */
.dollar-sign {
  position: absolute;
  left: 8px; /* Adjust the position as needed */
  top: 50%; /* Adjust the position as needed */
  transform: translateY(-50%);
  font-family: 'Font Awesome 6 Pro'; /* Make sure to replace with your actual font */
  font-size: 14px;
  color: #595959; /* Adjust color as needed */
}

/* Example styling for the input field */
#firstInput {
  padding-left: 24px; /* Adjust padding to make space for the dollar sign */
}


 /* ***********************************************************************************  */
 #GoButton {
  width: 267px;
  height: 52px;
  padding: 10px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #548BAB;
  gap: 10px;
  cursor: pointer;
  margin-top: 1.5%;
  margin-left: 5%;
}

#GoButtonn {
  font-size: 16px;
  color: #FFFFFF;
  font-family: Montserrat sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;

}



/* ************************************************************************************* */

 /* Salary filter */
 .Classifications-filter {
  position: absolute;
  width: 121px;
  height: 30px;
  left: 6.5%;
  top: 90%;
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150px;
  color: #548BAB;
  margin-top: 1%;
}

/* ************************************************************************************* */

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 245px;
  height: 104px;
  margin-top: 6%;
  margin-left: 6.5%;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  height: 24px;
  cursor: pointer;
}


.checkbox-box {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-radius: 2px;
}


.checked .checkbox-box {
  background: #548BAB;
}


.checkbox-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}


.hidden {
  display: none;
}

/****************************************************************************************/

 /* Salary filter */
 .Title-filter {
  position: absolute;
  width: 121px;
  height: 30px;
  left: 6.5%;
  top: 113%;
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #548BAB;
}
/* **************************************************************************************** */
/* **************************************************************************************** */
/* **************************************************************************************** */
/* **************************************************************************************** */
/* **************************************************************************************** */









/****************************************************************************************/


















/****************************************************************************************/
















/****************************************************************************************/
















/****************************************************************************************/
.footer {
  background-color: #FFFFFF;
  padding: 20px;
  text-align: center;
  margin-top: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.footerLogo {
  width: 219.23px;
  height: 81.49px;
  margin-left: 50px;
  margin-top: 10px; 
}


.glee{
  margin-left: 50px;
  width: 176px;
  height: 48px;
  top: 275px;
  left: 112px;
  color:#548BAB;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: baseline;
}


.footer-column {
  flex: 1;
  margin: 0 10px;
}


.footer-column a {
  display: block;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}


.footer-column a:hover {
  color: blue;
}


.footer-line {
  border-bottom: 3px solid #F5F5F5;
}


.social-icons {
  display: flex;
  align-items: center;
  margin-right: 4%;
  margin-top: 10px;
  justify-content: flex-end; 
}


.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
}


.centered-text{
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 20px;
  margin-left: 4%;
}


.centered-text a {
  color: black; 
  text-decoration: none; 
  margin: 1%;
}


.centered-text a:hover {
  color: gray; 
}


.bott {
  display: flex;
  justify-content: space-between;
}


.bott1 {
  margin-right: auto;
  width: auto;
  height: 50px;
  margin-left: 50px;
}


.bott2 {
  margin-left: auto;
  margin-right: 50px ;
}


.mid {
  margin: 0 auto;
}


.bott img {
  margin-top: 20px;
}



/* **************************************** */